* {
    box-sizing: border-box;
}
                     
body {
    min-height: 100vh;
    flex-direction: column;
    font-family: "Hind", sans-serif;
    margin: 0;
    background: rgb(250, 246, 241);
    min-height: 100%;
}

.resumeContainer {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
}

.panel {
    flex-direction: column;
    background-color: #CE7e7e;
    height: auto;
    width: 100%;
}
   
img {
    width: 35%;
    height: 45%;
    padding-top: 2rem;
}

.name p1 {
    display: block;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0;
}

.contact h2 {
    display: block;
    font-weight: 200;
    font-size: 1.2rem;
    margin: 0 auto;
}


.info-links {
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
    width: 100%;
    margin: 0;
    line-height: 150%;
}

.info-links a {
color: black;
}


.elevator {
    display: flex;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid #EFDECD;
    width: 85%;
    padding: 10px;
}

ol {
    padding-left: 20px;
    margin-top: .5rem;
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    margin-top: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 80px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.funline {
    display: flex;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: "Courgette", cursive;
    width: 85%;
}


/*   MEDIA QUERIES  */

@media screen and (max-width: 500px) {
.resumecontainer {
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        padding: 0 10px 10px 10px;
}

.panel {
        flex-direction: column;
        text-align: center;
        background-color: #EFDECD;
        height: 500px;
        width: auto;
        padding-bottom: 20px;
}

.img {
        align-self: center;
        width: 15%;
        height: 15%;
}

.elevator {
    flex-direction: row;
    text-align: center;
}

h5 {
    padding-left: 36px;
}

p {
    font-size: 15px;
}

td, th {
    padding: 8px 8px 8px 35px;
}

.funline {
    flex-direction: row;
    width: 85%;
    font-size: 27px;
}

@media screen and (min-width: 501px) and (max-width: 1024px) {

.panel {
    width: 50%;
    justify-content: left;
    padding-left: 30px;
}

.name p1 {
    display: block;
    text-align: center;
    margin: 0;
}
.img {
    align-self: center;
    width: 15%;
    height: 15%;
}



}


}