* {
    box-sizing: border-box;
}

body {
    margin: auto;
    /*background-color: #EFDECD;*/
}

.container-fluid resume {
    height: auto;
}


.panel {
    text-align: center;
    /*background-color: #EFDECD;
    flex-direction: column;
    border: 3px solid red;
    text-align: center;
    background-color: #EFDECD;
    width: auto;
    padding-bottom: .8rem;*/
}

img {
    /*width: 250px;
    height: 250px;*/
    padding-top: 2rem;
}


.info {
    padding-top: 1rem;
}

.info-links {
    display: block;
    text-decoration-line: underline;
    font-size: 1.1rem;
    padding: 1px 0 10px 0;
    /*margin-top: 1rem;*/
    line-height: 160%;
    /*text-align: center;*/
}

.info-links a {
    color: black;
}

.elevator {
    display: block;
    font-size: 1rem;
    padding: 18px;
    text-align: left;
    border: 1px solid black;
}

.ele-list {
    list-style-type: none;
    text-align: left;
}

.buttons-resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.education {
    padding-top: 2rem;
    text-align: left;

}

ol {
    padding-left: 0;
    margin-top: 3rem;
}

table {
    width: 100%;
    /*justify-content: center;*/
    margin: auto;
}

td,
th {
    border: 1px solid black;
    /*text-align: left;*/
}

tr:nth-child(odd) {
    background-color: #EFDECD;
}

.btn btn-default {
    color: black;
    background-color: #EFDECD;
    border-color: black;
   /* background-color: #EFDECD;*/
    /*.btn-primary{color:#fff;background-color:teal;border-color:#005a5a}*/
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.funline {
    display: flex;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Roboto', sans-serif;
    width: 85%;
}




/*   MEDIA QUERIES  */

@media (max-width: 765px) {
    .panel {
        background-color: #EFDECD;
    }
}



@media (min-width: 768px) and (max-width: 1500px) {
.container-fluid {
    height: auto;
}
   
.elevator {
    flex-direction: row;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 3px solid #EFDECD;
    padding-left: .2rem;
}

.col-md-7 education {
    text-align: left;
    background-color: white;
}

ol {
    text-align: left;

/*.panel2 {
    flex-direction: column;
}*/
}
}